#pageIndex {
    .content {
        text-align: center;
        .emptyMsg {
            @include inline-block;
            margin-top: 140px;
            .logo {
                $logo-img: 'home/add_info_heart.png';
                cursor: pointer;
                width: image-width($logo-img);
                height: image-height($logo-img);
                background-image: image-url($logo-img);
                margin: 0 auto;

                &:hover { opacity: 0.8; }
            }
            .msg {
                margin-top: 15px;
                .plus {
                    font-size: 25px;
                    margin: 5px;
                }
            }
        }
    }
}
