#pageSearch {
    .content {
        text-align: center;
        #inputList {
            &.ui-shadow {
                box-shadow: 0 0 5px darken(pink, 30%);
            }
            li {
                box-shadow: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid #ccc;
                border-top: none;

                *:focus {
                    outline: none;
                }
                &.ui-btn-up-c {
                    background: #fff;
                    border: none;
                    &:not(.ui-last-child) {
                        border-bottom: 1px solid #CCC;
                    }
                }
                &.ui-li.ui-last-child, &.ui-li.ui-field-contain.ui-last-child { border-bottom: none; }
                .ui-icon {
                    opacity: 0.3;
                }
                .val {
                    float: right;
                    color: #2C73BC;
                }
                #timeRange {
                    float: right;
                    width: 170px;
                    margin-right: 30px;
                    &.ui-widget-content {
                        border: none;
                        background: #EFEFEF;
                    }
                    .ui-widget-header {
                        background: #EE8687;
                        border: none;
                        // box-shadow: 0 0 5px darken(pink, 30%);
                    }
                    .ui-state-default {
                        background: #E93F3D;
                        border: none;
                        box-shadow: 0 0 3px rgba(lighten(#000, 10%), 0.5);
                    }
                    &:before {
                        $icon-img: 'search/search_icon_sun.png';
                        position: absolute;
                        content: '';
                        display: block;
                        background: image-url($icon-img) no-repeat;
                        width: image-width($icon-img);
                        height: image-height($icon-img);
                        top: -5px;
                        left: -33px;
                    }
                    &:after {
                        $icon-img: 'search/search_icon_moon.png';
                        position: absolute;
                        content: '';
                        display: block;
                        background: image-url($icon-img) no-repeat;
                        width: image-width($icon-img);
                        height: image-height($icon-img);
                        top: -5px;
                        right: -35px;
                    }
                }
                #date {
                    position: relative;
                    .ui-body-c {
                        border: none;
                        margin: 0;
                        padding: 0;
                    }
                    #inputDate {
                        opacity: 1;
                        position: absolute;
                        left: -15px;
                        bottom: -15px;
                        width: 1px;
                        height: 1px;
                    }
                }
            }
        }

        #btnGo {
            @include inline-block;
            $btn-img: 'search/search_btn.png';
            background: image-url($btn-img) no-repeat;
            width: image-width($btn-img);
            height: image-height($btn-img);
            font-size: 28px;
            line-height: image-height($btn-img) + 3px;
            cursor: pointer;
            color: gray;
            font-family: Helvetica;

            &:hover {
                color: #000;
                // $btn-img: 'search/search_btn_tapped.png';
                // background: image-url($btn-img) no-repeat;
                opacity: 0.8;
            }
        }
    }
}
