#pageEdit {
    .content {
        padding: 0;
        margin: 0;
        @include box-shadow(rgba(0, 0, 0, 0.5) 0 0 10px);

        #actions {
            .wrapper {
                position: relative;
                display: block;
                background-color: #FDF5F5;
                &.wapper-action {
                    min-height: 90pt;
                }
                &.wapper-traffic {
                    height: 25px;
                }
                .scroller {
                    position: absolute;
                    ul {
                        display: block;
                        overflow: hidden;
                        .action {
                            float:left;
                            display: block;
                            position: relative;
                            padding: 0 0 5pt 0;
                            margin: 0;
                            min-height: 90pt;
                            max-height: 90pt;
                            // $pic-frame-img: 'edit/pic_frame.png';
                            $pic-loading-img: 'loading.gif';
                            $pic-frame-width: 60pt;
                            $pic-frame-height: 60pt;
                            .icon {
                                @include box-shadow(rgba(0, 0, 0, 0.5) 0 0 3px);
                                display: block;
                                width: $pic-frame-width;
                                height: $pic-frame-height;
                                background: image-url($pic-loading-img) center no-repeat #fff;
                                // background-size: contain;
                                // border: 1px solid red;
                                position: absolute;
                                top: 8pt;
                                left: 8pt;
                                .icon-img {
                                    width: 54pt;
                                    height: 54pt;
                                    margin: 3pt;
                                    opacity: 0;
                                }
                            }
                            .info {
                                display: block;
                                height: 90pt;
                                margin-left: 6pt + $pic-frame-width + 7pt;
                                position: relative;
                                .time {
                                    display: block;
                                    position: absolute;
                                    top: 9pt;
                                    right: 5pt;
                                    color: #555;
                                    font-size: 11pt;
                                }
                                .type {
                                    display: block;
                                    font-size: 12pt;
                                    padding-top: 9pt;
                                    &.type-art { color: #3277A3; }
                                    &.type-movie { color: #DA3D5E; }
                                    &.type-meat { color: #D93D61; }
                                }
                                .title {
                                    display: block;
                                    margin: 5px 5px 0 0;
                                    font-size: 15pt;
                                    color: #333;
                                    @include text-shadow(rgba(0, 0, 0, 0.2) 1px 1px 0);
                                }
                                .description {
                                    display: block;
                                    margin: 5px 5px 0 0;
                                    font-size: 10pt;
                                    line-height: 1.3;
                                    color: #7d7d7d;
                                    height: 60px;
                                    overflow: hidden;

                                    &:after {
                                        content: '';
                                        display: block;
                                        height: 20px;
                                        position: absolute;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        background: -moz-linear-gradient(top, rgba(253,245,245,0) 0%, rgba(253,245,245,1) 100%); /* FF3.6+ */
                                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,245,245,0)), color-stop(100%,rgba(253,245,245,1))); /* Chrome,Safari4+ */
                                        background: -webkit-linear-gradient(top, rgba(253,245,245,0) 0%,rgba(253,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
                                        background: -o-linear-gradient(top, rgba(253,245,245,0) 0%,rgba(253,245,245,1) 100%); /* Opera 11.10+ */
                                        background: -ms-linear-gradient(top, rgba(253,245,245,0) 0%,rgba(253,245,245,1) 100%); /* IE10+ */
                                        background: linear-gradient(to bottom, rgba(253,245,245,0) 0%,rgba(253,245,245,1) 100%); /* W3C */
                                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fdf5f5', endColorstr='#fdf5f5',GradientType=0 ); /* IE6-9 */
                                    }

                                }
                            }
                        }

                        .traffic {
                            display: block;
                            background: #d7d7d7;
                            color: #464646;
                            font-size: 9pt;
                            height: 25px;
                            line-height: 25px;
                            padding: 0 30pt;
                            float: left;
                            .type {
                                position: relative;
                                $icon-mass-img: 'edit/traffic_edit_mass.png';
                                $icon-car-img: 'edit/traffic_edit_car.png';
                                $icon-walk-img: 'edit/traffic_edit_walk.png';
                                &:before {
                                    $icon-img: $icon-mass-img;
                                    position: absolute;
                                    content: '';
                                    display: block;
                                    background-repeat: no-repeat;;
                                    width: image-width($icon-img);
                                    height: image-height($icon-img);
                                    top: -7px;
                                    left: -27px;
                                }
                                &.type-mass:before {
                                    background-image: image-url($icon-mass-img);
                                }
                                &.type-car:before {
                                    background-image: image-url($icon-car-img);
                                }
                                &.type-walk:before {
                                    background-image: image-url($icon-walk-img);
                                }
                            }
                        }



                    }

                }

            }
        }
    }
}
