// @import "../components/normalize-css/normalize.css";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/utilities/general";
// @import "../vendor/app-UI/src/viewnavigator/viewnavigator.css";
@import "../components/jquery-ui/themes/base/jquery-ui.css";
@import "../components/jquery-ui/themes/base/jquery.ui.slider.css";
@import "../components/jquery-ui/themes/base/jquery.ui.datepicker.css";
@import "../components/jquery-mobile/dist/jquery.mobile.min.css";
@import "../vendor/theatre/theatre.css";
body {
    font-family: helvetica;
    @include user-select(none);
}


// to overwrite styles of jQuery mobile
#pageSplash, #pageIndex, #pageSearch,
#pageCard, #pageEdit, #pageView {
    background-image: image-url('bg_texture_half_opt.png');
    header {
        background: image-url('bg_texture.png');
        box-shadow: 0 0 10px #000;
        height: 44px;
        padding: 0;
        &.ui-bar-a {
            border-width: 0;
            color: black;
            text-shadow: 0 0 0;
        }
        &.ui-title {
            margin: 0;
        }
        h1 {
            float: left;
            text-align: center;
            width: 100%;
            line-height: 44px;
            margin: 0 auto;
            font-size: 18px;
            font-weight: normal;
            text-shadow: none;
            .icon-heart {
                $heart-img: 'home/title_heart.png';
                background: image-url($heart-img) no-repeat;
                margin: 0 0 4px;
                width: image-width($heart-img);
                height: image-height($heart-img);
                @include inline-block;
            }
        }
        #btnNew {
            $btn-img: 'general_btn_add.png';
            background-image: image-url($btn-img);
            background-repeat: no-repeat;
            background-position: center center;
            width: 44px;
            height: 44px;
            border: none;
            top: 0;
            right: 0;
            .ui-btn-inner {
                border: none;
            }
        }
        #btnBack {
            $btn-img: 'general_btn_back.png';
            background-image: image-url($btn-img);
            background-repeat: no-repeat;
            background-position: center center;
            width: 44px;
            height: 44px;
            border: none;
            top: 0;
            left: 0;
            .ui-btn-inner {
                border: none;
            }
        }
        #btnNext {
            $btn-img: 'general_btn_next.png';
            background-image: image-url($btn-img);
            background-repeat: no-repeat;
            background-position: center center;
            width: 44px;
            height: 44px;
            border: none;
            top: 0;
            right: 0;
            .ui-btn-inner {
                border: none;
            }
        }
        #btnOk {
            $btn-img: 'general_btn_ok.png';
            background-image: image-url($btn-img);
            background-repeat: no-repeat;
            background-position: center center;
            width: 44px;
            height: 44px;
            border: none;
            top: 0;
            right: 0;
            .ui-btn-inner {
                border: none;
            }
        }
        #btnEdit {
            $btn-img: 'general_btn_edit.png';
            background-image: image-url($btn-img);
            background-repeat: no-repeat;
            background-position: center center;
            width: 44px;
            height: 44px;
            border: none;
            top: 0;
            left: 0;
            .ui-btn-inner {
                border: none;
            }
        }
        #btnDone {
            background-image: none;
            border: none;
            height: 44px;
            line-height: 1.3;
            top: 0;
            right: 0;
            .ui-btn-inner {
                border: none;
                font-size: 1.2em;
            }
        }
        .ui-btn {
            background-color: rgba(255, 255, 255, 0.0);
            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
        .ui-btn-text {
            font-weight: normal;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
        }

    }
}

@import "pageSplash";
@import "pageIndex";
@import "pageSearch";
@import "pageCard";
@import "pageEdit";
@import "pageView";



