@import url(../components/jquery-ui/themes/base/jquery-ui.css);
@import url(../components/jquery-ui/themes/base/jquery.ui.slider.css);
@import url(../components/jquery-ui/themes/base/jquery.ui.datepicker.css);
@import url(../components/jquery-mobile/dist/jquery.mobile.min.css);
@import url(../vendor/theatre/theatre.css);
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, main.scss */
body {
  font-family: helvetica;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 20, main.scss */
#pageSplash, #pageIndex, #pageSearch,
#pageCard, #pageEdit, #pageView {
  background-image: url('images/bg_texture_half_opt.png?1383375456');
}
/* line 22, main.scss */
#pageSplash header, #pageIndex header, #pageSearch header,
#pageCard header, #pageEdit header, #pageView header {
  background: url('images/bg_texture.png?1383375456');
  box-shadow: 0 0 10px #000;
  height: 44px;
  padding: 0;
}
/* line 27, main.scss */
#pageSplash header.ui-bar-a, #pageIndex header.ui-bar-a, #pageSearch header.ui-bar-a,
#pageCard header.ui-bar-a, #pageEdit header.ui-bar-a, #pageView header.ui-bar-a {
  border-width: 0;
  color: black;
  text-shadow: 0 0 0;
}
/* line 32, main.scss */
#pageSplash header.ui-title, #pageIndex header.ui-title, #pageSearch header.ui-title,
#pageCard header.ui-title, #pageEdit header.ui-title, #pageView header.ui-title {
  margin: 0;
}
/* line 35, main.scss */
#pageSplash header h1, #pageIndex header h1, #pageSearch header h1,
#pageCard header h1, #pageEdit header h1, #pageView header h1 {
  float: left;
  text-align: center;
  width: 100%;
  line-height: 44px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: normal;
  text-shadow: none;
}
/* line 44, main.scss */
#pageSplash header h1 .icon-heart, #pageIndex header h1 .icon-heart, #pageSearch header h1 .icon-heart,
#pageCard header h1 .icon-heart, #pageEdit header h1 .icon-heart, #pageView header h1 .icon-heart {
  background: url('images/home/title_heart.png?1383375456') no-repeat;
  margin: 0 0 4px;
  width: 35px;
  height: 33px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 53, main.scss */
#pageSplash header #btnNew, #pageIndex header #btnNew, #pageSearch header #btnNew,
#pageCard header #btnNew, #pageEdit header #btnNew, #pageView header #btnNew {
  background-image: url('images/general_btn_add.png?1383375456');
  background-repeat: no-repeat;
  background-position: center center;
  width: 44px;
  height: 44px;
  border: none;
  top: 0;
  right: 0;
}
/* line 63, main.scss */
#pageSplash header #btnNew .ui-btn-inner, #pageIndex header #btnNew .ui-btn-inner, #pageSearch header #btnNew .ui-btn-inner,
#pageCard header #btnNew .ui-btn-inner, #pageEdit header #btnNew .ui-btn-inner, #pageView header #btnNew .ui-btn-inner {
  border: none;
}
/* line 67, main.scss */
#pageSplash header #btnBack, #pageIndex header #btnBack, #pageSearch header #btnBack,
#pageCard header #btnBack, #pageEdit header #btnBack, #pageView header #btnBack {
  background-image: url('images/general_btn_back.png?1383375456');
  background-repeat: no-repeat;
  background-position: center center;
  width: 44px;
  height: 44px;
  border: none;
  top: 0;
  left: 0;
}
/* line 77, main.scss */
#pageSplash header #btnBack .ui-btn-inner, #pageIndex header #btnBack .ui-btn-inner, #pageSearch header #btnBack .ui-btn-inner,
#pageCard header #btnBack .ui-btn-inner, #pageEdit header #btnBack .ui-btn-inner, #pageView header #btnBack .ui-btn-inner {
  border: none;
}
/* line 81, main.scss */
#pageSplash header #btnNext, #pageIndex header #btnNext, #pageSearch header #btnNext,
#pageCard header #btnNext, #pageEdit header #btnNext, #pageView header #btnNext {
  background-image: url('images/general_btn_next.png?1383375456');
  background-repeat: no-repeat;
  background-position: center center;
  width: 44px;
  height: 44px;
  border: none;
  top: 0;
  right: 0;
}
/* line 91, main.scss */
#pageSplash header #btnNext .ui-btn-inner, #pageIndex header #btnNext .ui-btn-inner, #pageSearch header #btnNext .ui-btn-inner,
#pageCard header #btnNext .ui-btn-inner, #pageEdit header #btnNext .ui-btn-inner, #pageView header #btnNext .ui-btn-inner {
  border: none;
}
/* line 95, main.scss */
#pageSplash header #btnOk, #pageIndex header #btnOk, #pageSearch header #btnOk,
#pageCard header #btnOk, #pageEdit header #btnOk, #pageView header #btnOk {
  background-image: url('images/general_btn_ok.png?1383375456');
  background-repeat: no-repeat;
  background-position: center center;
  width: 44px;
  height: 44px;
  border: none;
  top: 0;
  right: 0;
}
/* line 105, main.scss */
#pageSplash header #btnOk .ui-btn-inner, #pageIndex header #btnOk .ui-btn-inner, #pageSearch header #btnOk .ui-btn-inner,
#pageCard header #btnOk .ui-btn-inner, #pageEdit header #btnOk .ui-btn-inner, #pageView header #btnOk .ui-btn-inner {
  border: none;
}
/* line 109, main.scss */
#pageSplash header #btnEdit, #pageIndex header #btnEdit, #pageSearch header #btnEdit,
#pageCard header #btnEdit, #pageEdit header #btnEdit, #pageView header #btnEdit {
  background-image: url('images/general_btn_edit.png?1383375456');
  background-repeat: no-repeat;
  background-position: center center;
  width: 44px;
  height: 44px;
  border: none;
  top: 0;
  left: 0;
}
/* line 119, main.scss */
#pageSplash header #btnEdit .ui-btn-inner, #pageIndex header #btnEdit .ui-btn-inner, #pageSearch header #btnEdit .ui-btn-inner,
#pageCard header #btnEdit .ui-btn-inner, #pageEdit header #btnEdit .ui-btn-inner, #pageView header #btnEdit .ui-btn-inner {
  border: none;
}
/* line 123, main.scss */
#pageSplash header #btnDone, #pageIndex header #btnDone, #pageSearch header #btnDone,
#pageCard header #btnDone, #pageEdit header #btnDone, #pageView header #btnDone {
  background-image: none;
  border: none;
  height: 44px;
  line-height: 1.3;
  top: 0;
  right: 0;
}
/* line 130, main.scss */
#pageSplash header #btnDone .ui-btn-inner, #pageIndex header #btnDone .ui-btn-inner, #pageSearch header #btnDone .ui-btn-inner,
#pageCard header #btnDone .ui-btn-inner, #pageEdit header #btnDone .ui-btn-inner, #pageView header #btnDone .ui-btn-inner {
  border: none;
  font-size: 1.2em;
}
/* line 135, main.scss */
#pageSplash header .ui-btn, #pageIndex header .ui-btn, #pageSearch header .ui-btn,
#pageCard header .ui-btn, #pageEdit header .ui-btn, #pageView header .ui-btn {
  background-color: rgba(255, 255, 255, 0);
}
/* line 137, main.scss */
#pageSplash header .ui-btn:hover, #pageIndex header .ui-btn:hover, #pageSearch header .ui-btn:hover,
#pageCard header .ui-btn:hover, #pageEdit header .ui-btn:hover, #pageView header .ui-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 141, main.scss */
#pageSplash header .ui-btn-text, #pageIndex header .ui-btn-text, #pageSearch header .ui-btn-text,
#pageCard header .ui-btn-text, #pageEdit header .ui-btn-text, #pageView header .ui-btn-text {
  font-weight: normal;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

/* line 1, _pageSplash.scss */
#pageSplash {
  background-image: url('images/bg_texture.png?1383375456');
}
/* line 3, _pageSplash.scss */
#pageSplash #splash {
  background: url('images/launch_bg.png?1381251488') 0 bottom no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2000;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 13, _pageSplash.scss */
#pageSplash #splash #logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -107.5px;
  margin-top: -35px;
  border: 0px none transparent;
  background-image: url('images/logo.png?1383375456');
  width: 215px;
  height: 70px;
  min-height: 0;
  background-repeat: no-repeat;
}

/* line 2, _pageIndex.scss */
#pageIndex .content {
  text-align: center;
}
/* line 4, _pageIndex.scss */
#pageIndex .content .emptyMsg {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-top: 140px;
}
/* line 7, _pageIndex.scss */
#pageIndex .content .emptyMsg .logo {
  cursor: pointer;
  width: 130px;
  height: 121px;
  background-image: url('images/home/add_info_heart.png?1383375456');
  margin: 0 auto;
}
/* line 15, _pageIndex.scss */
#pageIndex .content .emptyMsg .logo:hover {
  opacity: 0.8;
}
/* line 17, _pageIndex.scss */
#pageIndex .content .emptyMsg .msg {
  margin-top: 15px;
}
/* line 19, _pageIndex.scss */
#pageIndex .content .emptyMsg .msg .plus {
  font-size: 25px;
  margin: 5px;
}

/* line 2, _pageSearch.scss */
#pageSearch .content {
  text-align: center;
}
/* line 5, _pageSearch.scss */
#pageSearch .content #inputList.ui-shadow {
  box-shadow: 0 0 5px #ff274d;
}
/* line 8, _pageSearch.scss */
#pageSearch .content #inputList li {
  box-shadow: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  border-top: none;
}
/* line 15, _pageSearch.scss */
#pageSearch .content #inputList li *:focus {
  outline: none;
}
/* line 18, _pageSearch.scss */
#pageSearch .content #inputList li.ui-btn-up-c {
  background: #fff;
  border: none;
}
/* line 21, _pageSearch.scss */
#pageSearch .content #inputList li.ui-btn-up-c:not(.ui-last-child) {
  border-bottom: 1px solid #CCC;
}
/* line 25, _pageSearch.scss */
#pageSearch .content #inputList li.ui-li.ui-last-child, #pageSearch .content #inputList li.ui-li.ui-field-contain.ui-last-child {
  border-bottom: none;
}
/* line 26, _pageSearch.scss */
#pageSearch .content #inputList li .ui-icon {
  opacity: 0.3;
}
/* line 29, _pageSearch.scss */
#pageSearch .content #inputList li .val {
  float: right;
  color: #2C73BC;
}
/* line 33, _pageSearch.scss */
#pageSearch .content #inputList li #timeRange {
  float: right;
  width: 170px;
  margin-right: 30px;
}
/* line 37, _pageSearch.scss */
#pageSearch .content #inputList li #timeRange.ui-widget-content {
  border: none;
  background: #EFEFEF;
}
/* line 41, _pageSearch.scss */
#pageSearch .content #inputList li #timeRange .ui-widget-header {
  background: #EE8687;
  border: none;
}
/* line 46, _pageSearch.scss */
#pageSearch .content #inputList li #timeRange .ui-state-default {
  background: #E93F3D;
  border: none;
  box-shadow: 0 0 3px rgba(26, 26, 26, 0.5);
}
/* line 51, _pageSearch.scss */
#pageSearch .content #inputList li #timeRange:before {
  position: absolute;
  content: '';
  display: block;
  background: url('images/search/search_icon_sun.png?1383375456') no-repeat;
  width: 20px;
  height: 20px;
  top: -5px;
  left: -33px;
}
/* line 62, _pageSearch.scss */
#pageSearch .content #inputList li #timeRange:after {
  position: absolute;
  content: '';
  display: block;
  background: url('images/search/search_icon_moon.png?1383375456') no-repeat;
  width: 20px;
  height: 20px;
  top: -5px;
  right: -35px;
}
/* line 74, _pageSearch.scss */
#pageSearch .content #inputList li #date {
  position: relative;
}
/* line 76, _pageSearch.scss */
#pageSearch .content #inputList li #date .ui-body-c {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 81, _pageSearch.scss */
#pageSearch .content #inputList li #date #inputDate {
  opacity: 1;
  position: absolute;
  left: -15px;
  bottom: -15px;
  width: 1px;
  height: 1px;
}
/* line 93, _pageSearch.scss */
#pageSearch .content #btnGo {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url('images/search/search_btn.png?1383375456') no-repeat;
  width: 125px;
  height: 125px;
  font-size: 28px;
  line-height: 128px;
  cursor: pointer;
  color: gray;
  font-family: Helvetica;
}
/* line 105, _pageSearch.scss */
#pageSearch .content #btnGo:hover {
  color: #000;
  opacity: 0.8;
}

/* line 1, _pageCard.scss */
#pageCard {
  text-align: center;
  position: relative;
}
/* line 8, _pageCard.scss */
#pageCard .content #cards {
  position: relative;
  width: 315px;
  height: 330px;
  margin: 0 auto;
}
/* line 14, _pageCard.scss */
#pageCard .content #cards.roundabout-holder {
  list-style: none;
  padding: 0;
}
/* line 19, _pageCard.scss */
#pageCard .content #cards .card {
  background: url('images/card/card_box.png?1383375456') 0 0/contain no-repeat;
  display: block;
  width: 265px;
  height: 280px;
  padding-top: 44px;
}
/* line 28, _pageCard.scss */
#pageCard .content #cards .card.roundabout-moveable-item {
  cursor: pointer;
}
/* line 31, _pageCard.scss */
#pageCard .content #cards .card.roundabout-in-focus {
  cursor: auto;
}
/* line 34, _pageCard.scss */
#pageCard .content #cards .card .action {
  position: relative;
  display: block;
  margin: 0 auto;
  line-height: 56px;
  width: 200px;
  height: 50px;
  text-indent: 65px;
  text-align: left;
}
/* line 43, _pageCard.scss */
#pageCard .content #cards .card .action:not(:last-child) {
  border-bottom: 1px dashed #aaa;
}
/* line 49, _pageCard.scss */
#pageCard .content #cards .card .action:before {
  position: absolute;
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  top: 2px;
  left: 10px;
}
/* line 60, _pageCard.scss */
#pageCard .content #cards .card .action.action-type-1:before {
  background-image: url('images/card/event_type_1.png?1383403768');
}
/* line 63, _pageCard.scss */
#pageCard .content #cards .card .action.action-type-2:before {
  background-image: url('images/card/event_type_2.png?1383403768');
}
/* line 66, _pageCard.scss */
#pageCard .content #cards .card .action.action-type-3:before {
  background-image: url('images/card/event_type_3.png?1383403768');
}
/* line 69, _pageCard.scss */
#pageCard .content #cards .card .action.action-type-4:before {
  background-image: url('images/card/event_type_4.png?1383403768');
}
/* line 72, _pageCard.scss */
#pageCard .content #cards .card .action.action-type-5:before {
  background-image: url('images/card/event_type_5.png?1383403768');
}
/* line 75, _pageCard.scss */
#pageCard .content #cards .card .action.action-type-6:before {
  background-image: url('images/card/event_type_6.png?1383403768');
}
/* line 78, _pageCard.scss */
#pageCard .content #cards .card .action.action-type-7:before {
  background-image: url('images/card/event_type_7.png?1383403768');
}
/* line 81, _pageCard.scss */
#pageCard .content #cards .card .action.action-type-8:before {
  background-image: url('images/card/event_type_8.png?1383403768');
}
/* line 84, _pageCard.scss */
#pageCard .content #cards .card .action.action-type-9:before {
  background-image: url('images/card/event_type_9.png?1383403768');
}
/* line 87, _pageCard.scss */
#pageCard .content #cards .card .action.action-type-10:before {
  background-image: url('images/card/event_type_10.png?1383403768');
}
/* line 90, _pageCard.scss */
#pageCard .content #cards .card .action.action-type-11:before {
  background-image: url('images/card/event_type_11.png?1383403768');
}
/* line 93, _pageCard.scss */
#pageCard .content #cards .card .action.action-type-12:before {
  background-image: url('images/card/event_type_12.png?1383403768');
}
/* line 96, _pageCard.scss */
#pageCard .content #cards .card .action.action-type-13:before {
  background-image: url('images/card/event_type_13.png?1383403768');
}
/* line 100, _pageCard.scss */
#pageCard .content #cards .card .action.action-art:before {
  background-image: url('images/card/event_type_1.png?1383403768');
}
/* line 103, _pageCard.scss */
#pageCard .content #cards .card .action.action-meat:before {
  background-image: url('images/card/event_type_2.png?1383403768');
}
/* line 106, _pageCard.scss */
#pageCard .content #cards .card .action.action-movie:before {
  background-image: url('images/card/event_type_3.png?1383403768');
}
/* line 111, _pageCard.scss */
#pageCard .content #cards .central, #pageCard .content #cards .left1, #pageCard .content #cards .right1 {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
/* line 115, _pageCard.scss */
#pageCard .content #cards .central {
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.9));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.9));
}
/* line 119, _pageCard.scss */
#pageCard .content #cards .left1 {
  -webkit-filter: drop-shadow(-15px 10px 15px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(-15px 10px 15px rgba(0, 0, 0, 0.5));
}
/* line 123, _pageCard.scss */
#pageCard .content #cards .right1 {
  -webkit-filter: drop-shadow(15px 10px 15px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 10px 15px rgba(0, 0, 0, 0.5));
}
/* line 129, _pageCard.scss */
#pageCard .content #btnPrevCard {
  position: absolute;
  display: block;
  background: url('images/general_content_btn_back.png?1383375456') no-repeat;
  width: 22px;
  height: 35px;
  top: 200px;
  left: 15px;
  z-index: 1000;
  cursor: pointer;
}
/* line 142, _pageCard.scss */
#pageCard .content #btnNextCard {
  position: absolute;
  display: block;
  background: url('images/general_content_btn_next.png?1383375456') no-repeat;
  width: 22px;
  height: 35px;
  top: 200px;
  right: 15px;
  z-index: 1000;
  cursor: pointer;
}
/* line 155, _pageCard.scss */
#pageCard .birdBG {
  background: url('images/card/card_bg.png?1383375456') 0% bottom/contain no-repeat;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* line 2, _pageEdit.scss */
#pageEdit .content {
  padding: 0;
  margin: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
}
/* line 8, _pageEdit.scss */
#pageEdit .content #actions .wrapper {
  position: relative;
  display: block;
  background-color: #FDF5F5;
}
/* line 12, _pageEdit.scss */
#pageEdit .content #actions .wrapper.wapper-action {
  min-height: 90pt;
}
/* line 15, _pageEdit.scss */
#pageEdit .content #actions .wrapper.wapper-traffic {
  height: 25px;
}
/* line 18, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller {
  position: absolute;
}
/* line 20, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul {
  display: block;
  overflow: hidden;
}
/* line 23, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul .action {
  float: left;
  display: block;
  position: relative;
  padding: 0 0 5pt 0;
  margin: 0;
  min-height: 90pt;
  max-height: 90pt;
}
/* line 35, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul .action .icon {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  display: block;
  width: 60pt;
  height: 60pt;
  background: url('images/loading.gif?1383402408') center no-repeat white;
  position: absolute;
  top: 8pt;
  left: 8pt;
}
/* line 46, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul .action .icon .icon-img {
  width: 54pt;
  height: 54pt;
  margin: 3pt;
  opacity: 0;
}
/* line 53, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul .action .info {
  display: block;
  height: 90pt;
  margin-left: 73pt;
  position: relative;
}
/* line 58, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul .action .info .time {
  display: block;
  position: absolute;
  top: 9pt;
  right: 5pt;
  color: #555;
  font-size: 11pt;
}
/* line 66, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul .action .info .type {
  display: block;
  font-size: 12pt;
  padding-top: 9pt;
}
/* line 70, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul .action .info .type.type-art {
  color: #3277A3;
}
/* line 71, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul .action .info .type.type-movie {
  color: #DA3D5E;
}
/* line 72, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul .action .info .type.type-meat {
  color: #D93D61;
}
/* line 74, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul .action .info .title {
  display: block;
  margin: 5px 5px 0 0;
  font-size: 15pt;
  color: #333;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0;
}
/* line 81, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul .action .info .description {
  display: block;
  margin: 5px 5px 0 0;
  font-size: 10pt;
  line-height: 1.3;
  color: #7d7d7d;
  height: 60px;
  overflow: hidden;
}
/* line 90, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul .action .info .description:after {
  content: '';
  display: block;
  height: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(253, 245, 245, 0) 0%, #fdf5f5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(253, 245, 245, 0)), color-stop(100%, #fdf5f5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(253, 245, 245, 0) 0%, #fdf5f5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(253, 245, 245, 0) 0%, #fdf5f5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(253, 245, 245, 0) 0%, #fdf5f5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(253, 245, 245, 0) 0%, #fdf5f5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00fdf5f5', endColorstr='#fdf5f5',GradientType=0 );
  /* IE6-9 */
}
/* line 111, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul .traffic {
  display: block;
  background: #d7d7d7;
  color: #464646;
  font-size: 9pt;
  height: 25px;
  line-height: 25px;
  padding: 0 30pt;
  float: left;
}
/* line 120, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul .traffic .type {
  position: relative;
}
/* line 125, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul .traffic .type:before {
  position: absolute;
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  top: -7px;
  left: -27px;
}
/* line 136, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul .traffic .type.type-mass:before {
  background-image: url('images/edit/traffic_edit_mass.png?1383375456');
}
/* line 139, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul .traffic .type.type-car:before {
  background-image: url('images/edit/traffic_edit_car.png?1383375456');
}
/* line 142, _pageEdit.scss */
#pageEdit .content #actions .wrapper .scroller ul .traffic .type.type-walk:before {
  background-image: url('images/edit/traffic_edit_walk.png?1383375456');
}

/* line 2, _pageView.scss */
#pageView .content {
  background-color: #FDF5F5;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}
/* line 10, _pageView.scss */
#pageView .content #timeline {
  position: absolute;
  top: 8px;
  left: 0;
}
/* line 14, _pageView.scss */
#pageView .content #timeline li {
  display: block;
  padding: 11pt 10pt;
  text-align: justify;
  font-size: 11pt;
  color: #555;
}
/* line 23, _pageView.scss */
#pageView .content #actions {
  height: 100%;
  margin-left: 60pt;
  margin-top: 44px;
  border-left: 2pt solid #f5989D;
}
/* line 29, _pageView.scss */
#pageView .content #actions .action {
  border-bottom: 1pt solid #D6D6D6;
  display: block;
  position: relative;
  padding: 0 0 5pt 0;
  margin: 8pt 0 0 0;
  min-height: 85pt;
}
/* line 41, _pageView.scss */
#pageView .content #actions .action .icon {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  display: block;
  width: 60pt;
  height: 60pt;
  background: url('images/loading.gif?1383402408') center no-repeat white;
  position: absolute;
  top: 8pt;
  left: 8pt;
}
/* line 52, _pageView.scss */
#pageView .content #actions .action .icon .icon-img {
  width: 54pt;
  height: 54pt;
  margin: 3pt;
}
/* line 58, _pageView.scss */
#pageView .content #actions .action .info {
  display: block;
  margin-left: 73pt;
  position: relative;
}
/* line 62, _pageView.scss */
#pageView .content #actions .action .info .time {
  display: block;
  text-align: right;
  padding: 5pt 5pt 5pt 0;
  color: #555;
  font-size: 11pt;
}
/* line 69, _pageView.scss */
#pageView .content #actions .action .info .title {
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0;
  display: block;
  font-size: 15pt;
  margin: 0 5px 0 0;
  color: #464646;
}
/* line 75, _pageView.scss */
#pageView .content #actions .action .info .title.type-art {
  color: #3277A3;
}
/* line 76, _pageView.scss */
#pageView .content #actions .action .info .title.type-movie {
  color: #DA3D5E;
}
/* line 77, _pageView.scss */
#pageView .content #actions .action .info .title.type-meat {
  color: #D93D61;
}
/* line 79, _pageView.scss */
#pageView .content #actions .action .info .description {
  color: #7d7d7d;
  display: block;
  font-size: 10pt;
  height: 55px;
  overflow: hidden;
  line-height: 1.3;
  margin: 5px 5px 0 0;
}
/* line 88, _pageView.scss */
#pageView .content #actions .action .info .description:after {
  content: '';
  display: block;
  height: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(253, 245, 245, 0) 0%, #fdf5f5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(253, 245, 245, 0)), color-stop(100%, #fdf5f5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(253, 245, 245, 0) 0%, #fdf5f5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(253, 245, 245, 0) 0%, #fdf5f5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(253, 245, 245, 0) 0%, #fdf5f5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(253, 245, 245, 0) 0%, #fdf5f5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00fdf5f5', endColorstr='#fdf5f5',GradientType=0 );
  /* IE6-9 */
}
/* line 107, _pageView.scss */
#pageView .content #actions .traffic {
  display: block;
  color: #464646;
  border-left: 2pt solid #f5989D;
  position: relative;
}
/* line 112, _pageView.scss */
#pageView .content #actions .traffic .content {
  position: absolute;
  top: -12pt;
  left: 6pt;
  background-color: #FDF5F5;
  padding: 6pt;
}
/* line 118, _pageView.scss */
#pageView .content #actions .traffic .content .type {
  position: relative;
}
/* line 123, _pageView.scss */
#pageView .content #actions .traffic .content .type:before {
  position: absolute;
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  top: -4px;
  left: -32px;
}
/* line 134, _pageView.scss */
#pageView .content #actions .traffic .content .type.type-mass:before {
  background-image: url('images/view/traffic_view_mass.png?1383375456');
}
/* line 137, _pageView.scss */
#pageView .content #actions .traffic .content .type.type-car:before {
  background-image: url('images/view/traffic_view_car.png?1383375456');
}
/* line 140, _pageView.scss */
#pageView .content #actions .traffic .content .type.type-walk:before {
  background-image: url('images/view/traffic_view_walk.png?1383375456');
}
