<section class="wrapper  wapper-action" id="wrapper-<%- actionId %>">
  <section class="scroller">
    <ul>
      <% _.each(options, function(option) { %>
      <li class="action">
          <section class="icon"><img class="icon-img" src="<%= option.icon %>"></section>
          <section class="info">
              <section class="time">
                  <span class="from"><%- option.timeFrom %>:00</span> ~ <span class="to"><%- option.timeTo %>:00</span>
              </section>
              <section class="type type-art"><%- name %></section>
              <section class="title"><%- option.name %></section>
              <section class="description"><%- option.description %></section>
          </section>
      </li>
      <% }); %>
    </ul>
  </section>
</section>
